{
  "cniVersion": "0.3.1",
  "name": "dhcp-cni-network",
  "plugins": [
    {
      "type": "bridge",
      "name": "mybridge",
      "bridge": "cni0",
      "isDefaultGateway": false,
      "uplinkInterface": "eth0",
      "enableIPv6": true,
      "ipam": {
        "type": "dhcp",
        "provide": [
           { "option": "12", "fromArg": "K8S_POD_NAME" }
        ]
      }
    },
    {
      "type": "tuning",
      "sysctl": {
        "net.ipv6.conf.eth0.autoconf": "1",
        "net.ipv6.conf.eth0.accept_ra": "0",
        "net.ipv6.conf.eth0.disable_ipv6": "0"
      }
    }
  ]
}
