{
  "cniVersion": "0.4.0",
  "name": "dhcp-cni-network",
  "plugins": [
    {
      "type": "bridge",
      "name": "mybridge",
      "bridge": "cni0",
      "isDefaultGateway": false,
      "uplinkInterface": "eth0",
      "enableIPv6": true,
      "ipam": {
        "type": "dhcp",
        "provide": [
           { "option": "12", "fromArg": "K8S_POD_NAME" }
        ]
      }
    }
  ]
}
